@import '../../styles/index';

.container {
    position: relative;
}

.post-header {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        z-index: $over-base-z;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        @include blog-title;
    }
    p {
        z-index: $over-base-z;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        @include tiny-text;
    }
}

.post-header::after {
    content: '';
    height: 351px;
    background: rgb(238, 174, 202);
    background: linear-gradient(
        0deg,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.tag-list {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    z-index: $over-base-z;
    a {
        margin-right: 5px;
        @include tags-text;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
}

.vertical-divider {
    display: flex;
    flex-direction: column;
}

.side-bar {
    padding: 20px 20px 50px 20px;
}

.side-bar-header {
    text-align: center;
    @include block-header;
}

.section {
    margin: 20px 20px 50px 20px;
    @include blog-text;
    h2 {
        @include blog-headline;
    }
    h3 {
        @include blog-headline;
    }
    // blockquote {
    //     background: radial-gradient(
    //         rgba(104, 151, 211, 0.5) 0%,
    //         rgba(114, 204, 216, 0.3) 50%,
    //         rgba(255, 255, 255, 0) 100%,
    //     );
    //     padding: 20px;
    //     margin: 10px 20px;
    // }
    pre {
        @include blog-text;
    }
    code {
        @include blog-text;
    }
}

.social-header {
    z-index: $over-base-z;
    margin-left: 20px;
    button {
        margin-right: 10px;
    }
}

.recommend {
    text-align: center;
    margin: 40px 0 20px 0;
    @include block-header;
}

@include for-desktop {
    .container {
        position: relative;
    }

    .post-header {
        height: 500px;
    }

    .vertical-divider {
        display: flex;
        flex-direction: row;
    }

    .side-bar {
        padding-right: 20px;
        min-width: 30%;
    }

    .post-header::after {
        height: 501px;
    }
}
