@import '../../styles/index';

.container {
    position: relative;
}

.post-header {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        z-index: $over-base-z;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        @include blog-title;
    }
    p {
        z-index: $over-base-z;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        @include tiny-text;
    }
}

.post-header::after {
    content: '';
    height: 351px;
    background: rgb(238, 174, 202);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.1) 100%
    );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.tag-list {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    z-index: $over-base-z;
    a {
        margin-right: 5px;
        @include tags-text;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
}

.vertical-divider {
    display: flex;
    flex-direction: column;
}

.side-bar {
    padding: 20px 20px 50px 20px;
}

.side-bar-header {
    text-align: center;
    @include block-header;
}

.credits {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: $over-base-z;
    @include credit-text;
}

.section {
    margin: 20px 20px 50px 20px;
    @include blog-text;
    h2 {
        @include blog-headline;
        a {
            @include blog-headline;
            // text-decoration: none;
            // color: $cr-green;
        }
    }
    h3 {
        @include blog-headline;
        a {
            @include blog-headline;
        }
    }
    blockquote {
        background: radial-gradient(
            rgba(162, 230, 179, 0.5) 0%,
            rgba(114, 216, 145, 0.3) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        padding: 20px;
        margin: 10px 20px;
        @include quote-text;
    }
    pre {
        @include blog-text;
    }
    code {
        @include blog-text;
    }
    figcaption {
        p {
            margin-top: 0;
            text-align: center;
        }
    }
}

.social-header {
    z-index: $over-base-z;
    margin-left: 20px;
    button {
        margin-right: 10px;
    }
}

.recommend {
    text-align: center;
    margin: 40px 0 20px 0;
    @include block-header;
}

@include for-desktop {
    .container {
        position: relative;
    }

    .post-header {
        height: 500px;
        h1 {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
        }
    }

    .vertical-divider {
        display: flex;
        flex-direction: row;
    }

    .side-bar {
        padding-right: 20px;
        min-width: 30%;
    }

    .post-header::after {
        height: 501px;
    }

    .social-header {
        button {
            @include y-slide-reset(0.2s);
        }
        button:hover {
            @include y-slide(-3px);
        }
    }
}
